/* Requirement 1: Force table captions to the top */
caption, table-wrap-heading {
    caption-side: top !important;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10pt;
    display: table-caption;
}

/* Requirement 4: Maintain superscripts and subscripts */
sup, .superscript {
    vertical-align: super;
    font-size: 0.75em;
    line-height: 0;
}
sub, .subscript {
    vertical-align: sub;
    font-size: 0.75em;
    line-height: 0;
}

/* Professional PDF Layout */
body {
    font-family: "Liberation Serif", serif;
    padding: 1in;
    line-height: 1.6;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15pt;
}
th, td {
    border: 1px solid black;
    padding: 8px;
}